.modal.fade.add-new-modal#desktopPreferred(tabindex="-1" role="dialog")
  .modal.custom-modal.fade.in
    .modal-dialog.custom-modal-dialog(role="document")
      .modal-content.custom-modal-content.edit-sip
        .modal-header.custom-modal-header
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") ×
          h4.modal-title.custom-modal-title(id="desktopPreferred") Desktop Browsing Optimized
        .modal-body.custom-modal-body
          p Please use a desktop browser to navigate this section of the site. Here you will find details about the calls you made.
          p #[strong Questions?]
        .modal-footer.custom-modal-footer
          a(target="_blank" href="mailto:workshop@voxbone.com?subject=Voxbone.ai")
            button.btn.btn-default-custom(type="button") Click to Email Us
