.modal.fade.add-new-modal#configureHelp(tabindex="-1" role="dialog")
  .modal.custom-modal.fade.in
    .modal-dialog.custom-modal-dialog(role="document")
      .modal-content.custom-modal-content.edit-sip
        .modal-header.custom-modal-header
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") ×
          h4.modal-title.custom-modal-title(id="myModalLabel") How do I configure my NAT/Firewall ?
        .modal-body.custom-modal-body
          p Adjust your network to allow incoming calls from:
            ul
              li #{mediaServerIp}
              li #{signalingServerIp}
          span RTP should be permitted within the following port ranges: 10000 to 20000.

        .modal-footer.custom-modal-footer
          button.btn.btn-default-custom(data-dismiss="modal") Ok
