#newsletterModal.modal.fade(role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        button(type="button" class="close" data-dismiss="modal")
        h4#myModalLabel.modal-title.pull-left
          i.glyphicon.glyphicon-exclamation-sign
            span Newsletter
      .modal-body
        p#subscription-message Placeholder
      .modal-footer
        button(type="button" class="btn btn-primary btn-lg" data-dismiss="modal") Dismiss
