.modal.fade.add-new-modal#warningTranscriptions(tabindex="-1" role="dialog")
  .modal.custom-modal.fade.in
    .modal-dialog.custom-modal-dialog(role="document")
      .modal-content.custom-modal-content.edit-sip.recordings.ng-cloak
        .modal-header.custom-modal-header
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") ×
          h4.modal-title.custom-modal-title Warning

        .modal-body.custom-modal-body.text-center
          br
          h5 We are currently working on this site
          br
          p Perhaps calls can be dropped
          p Transcriptions are not available to display

        .modal-footer.custom-modal-footer
          button.btn.btn-default-custom(data-dismiss="modal") Close
